	 <div layout="row" flex>
	 	<div flex="55" layout="column">
	 		<md-content layout-padding layout="column" flex>
	 			<md-whiteframe class="md-whiteframe-z1" layout="column" flex>
	 				<md-input-container class="search" md-no-float>
	 					<input ng-model="userOptions.quickFilterText" placeholder="搜索"></md-input-container>
	 				<div style="position:relative" flex>
	 					<div ag-grid="userOptions" class="ag-fresh" style="height:100%;width:100%;position:absolute"></div>
	 				</div>
	 			</md-whiteframe>
	 		</md-content>
	 	</div>
	 	<div flex="45" layout="column">
	 		<md-content layout-padding flex layout="column">
	 			<md-whiteframe class="md-whiteframe-z1" flex layout="column">
	 				<md-tabs md-selected="selectedIndex" flex layout="column" md-center-tabs="false">
	 					<md-tab>
	 						<md-tab-label>{{formTitle}}用户</md-tab-label>
	 						<md-tab-body>
	 							<md-content layout-padding class="autoScroll">
	 								<form name="userForm" ng-submit="submit()">
	 									<fieldset>
	 										<md-input-container >
	 											<md-icon> <i class="material-icons">email</i>
	 											</md-icon>
	 											<input ng-model="user.email" type="email" placeholder="邮箱" ng-required="true"></md-input-container>
	 										<md-input-container >
	 											<md-icon> <i class="material-icons">code</i>
	 											</md-icon>
	 											<input ng-model="user.password" disabled="true" type="password" placeholder="密码" ng-required="true"></md-input-container>
	 										<md-input-container class="md-icon-float">
	 											<label>姓名</label>
	 											<md-icon>
	 												<i class="material-icons">account_circle</i>
	 											</md-icon>
	 											<input ng-model="user.name" type="text" ng-required="true"></md-input-container>
	 										<md-input-container md-no-float>
	 											<md-icon>
	 												<i class="material-icons">smartphone</i>
	 											</md-icon>
	 											<input ng-model="user.phone" type="text" placeholder="手机"></md-input-container>

	 										<md-input-container >
	 											<md-icon>
	 												<i class="material-icons">account_balance</i>
	 											</md-icon>
	 											<input ng-model="user.organ.name" ng-click="selectOrgan()" style="cursor: pointer;" readonly  type="text" placeholder="公司" ng-required="true"></md-input-container>
	 										<div layout>
	 											<md-input-container md-no-float style="width:120px;">
	 												<md-icon>
	 													<i class="material-icons">location_on</i>
	 												</md-icon>
	 												<input type="text" ng-click="selectRegion()" style="cursor: pointer;" readonly ng-model="user.contact.address.region.name" placeholder="地区"></md-input-container>
	 											<md-input-container md-no-float flex>
	 												<input ng-model="user.contact.address.address" type="text" placeholder="地址" ></md-input-container>
	 										</div>
	 										<md-button class="md-raised" ng-disabled="userForm.$invalid">保存</md-button>
	 									</fieldset>
	 								</form>
	 							</md-content>
	 							
	 						</md-tab-body>
	 					</md-tab>
	 					<md-tab>
	 						<md-tab-label>公司</md-tab-label>
	 						<md-tab-body>
	 							<div layout="column" style="height:100%;width:100%;position:absolute">
	 								<md-input-container class="search" md-no-float>
	 									<input ng-model="organOptions.quickFilterText" placeholder="搜索"></md-input-container>
	 								<div style="position:relative" flex>
	 									<div ag-grid="organOptions" class="ag-fresh" style="height:100%;width:100%;position:absolute"></div>
	 								</div>
	 							</div>
	 						</md-tab-body>
	 					</md-tab>
	 					<md-tab>
	 						<md-tab-label>地区</md-tab-label>
	 						<md-tab-body>
	 							<div layout="column" style="height:100%;width:100%;position:absolute">
	 								<md-input-container class="search" md-no-float>
	 									<input ng-model="regionOptions.quickFilterText" placeholder="搜索"></md-input-container>
	 								<div style="position:relative" flex>
	 									<div ag-grid="regionOptions" class="ag-fresh" style="height:100%;width:100%;position:absolute"></div>
	 								</div>
	 							</div>
	 						</md-tab-body>
	 					</md-tab>
	 				</md-tabs>
	 			</md-whiteframe>
	 		</md-content>
	 	</div>
	 </div>