	 <div layout="row" flex>
	 	<div flex="55" layout="column">
	 		<md-content layout-padding layout="column" flex>
	 			<md-whiteframe class="md-whiteframe-z1" layout="column" flex>
	 				<div layout="row">
	 					<md-input-container class="search" md-no-float flex>
	 						<input ng-model="resourceOptions.quickFilterText" placeholder="搜索"></md-input-container>
	 					<md-button class="md-icon-button" ng-disabled="resourceOptions.selectedRows.length==0 && resourceOptions.rowData.length>0" ng-click="add()" aria-label="plus">
	 						<md-icon> <i class="material-icons">add</i>
	 						</md-icon>
	 					</md-button>
	 					<md-button ng-disabled="resourceOptions.selectedRows.length==0" ng-click="edit()" class="md-icon-button" aria-label="edit">
	 						<md-icon> <i class="material-icons">edit</i>
	 						</md-icon>
	 					</md-button>
	 					<md-button ng-disabled="resourceOptions.selectedRows.length==0" ng-click="delete()" class="md-icon-button" aria-label="delete">
	 						<md-icon>
	 							<i class="material-icons">delete</i>
	 						</md-icon>
	 					</md-button>
	 				</div>
	 				<div style="position:relative" flex>
	 					<div ag-grid="resourceOptions" class="ag-fresh" style="height:100%;width:100%;position:absolute"></div>
	 				</div>
	 			</md-whiteframe>
	 		</md-content>
	 	</div>
	 	<div flex="45" layout="column">
	 		<md-content layout-padding flex layout="column">
	 			<md-whiteframe class="md-whiteframe-z1" flex layout="column">
	 				<md-tabs md-selected="selectedIndex" flex layout="column" md-center-tabs="false">
	 					<md-tab>
	 						<md-tab-label>{{formTitle}}资源</md-tab-label>
	 						<md-tab-body>
	 							<md-content layout-padding layout="column" class="autoScroll">
	 								<form name="resourceForm" ng-submit="submit()">
	 									<fieldset ng-disabled="resourceOptions.rowData.length>
	 										0 && resource.pId==undefined">
	 										<md-input-container>
	 											<label>名称</label>
	 											<input ng-model="resource.name" type="text" ng-required="true"></md-input-container>
	 										<md-input-container>
	 											<label>链接</label>
	 											<input ng-model="resource.url" type="text"></md-input-container>
	 											<md-input-container>
	 											<label>图标</label>
	 											<input ng-model="resource.icon" type="text"></md-input-container>
	 										<md-button class="md-raised" ng-disabled="resourceForm.$invalid">保存</md-button>
	 									</fieldset>
	 								</form>
	 							</md-content>
	 						</md-tab-body>
	 					</md-tab>
	 				</md-tabs>
	 			</md-whiteframe>
	 		</md-content>
	 	</div>
	 </div>