<div layout layout-fill layout-align="center center">
	<md-whiteframe class="md-whiteframe-z2" style="width:500px;">
		<md-content layout-padding>
			<form name="signinForm" ng-submit="submit()">
				<fieldset>
					<md-input-container>
						<md-icon> <i class="material-icons">email</i>
						</md-icon>
						<input type="email" ng-required="true" placeholder="邮箱 (必填)" name="email" ng-model="user.email"></md-input-container>

					<md-input-container>
						<md-icon> <i class="material-icons">lock</i>
						</md-icon>
						<input type="password" ng-required="true" placeholder="密码 (必填)" name="password" ng-model="user.password"></md-input-container>
					<div layout="row">
						<md-input-container flex>
							<md-icon>
								<i class="material-icons">code</i>
							</md-icon>
							<input type="text" ng-required="true" placeholder="验证码 (必填)" name="captcha" ng-model="user.captcha"></md-input-container>
						<md-input-container>
						<img ng-click="nextCaptcha()" ng-src="{{captchaUrl}}"/>
							<!-- <md-button class="md-raised" ng-disabled="signinForm.email.$invalid">获取验证码</md-button> -->
						</md-input-container>
					</div>
					<md-button class="md-raised" ng-disabled="signinForm.$invalid">登录</md-button>
				</fieldset>
			</form>
		</md-content>
	</md-whiteframe>
</div>